
.advanced-filter-searchbox {
    .filters-container {
        display: none;
    }

    .search-settings {
        display: none;
    }

    .data-sample-checkbox-container {
        display: none;
    }
}

body.review {
    .header-dropdown-menu {
        display: none;
    }

    .advanced-filter-searchbox #clear-filter {
        display: none;
    }

    #advanced-filter, .advanced-filter-searchbox.searchbox {
        display: none;
    }
}
body .tab-switcher-notes {
    display: none;
}

//****** Manage *******//
body.manage {
    .job-delivery {
        display: none !important;
    }
}

//*********************//
