
.advanced-filter-searchbox {
    .filters-container {
        display: none;
    }

    .search-settings {
        display: none;
    }

    .data-sample-checkbox-container {
        display: none;
    }

    #clear-filter {
        display: none;
    }

}